@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');


*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
    --roxo:#56476B;
    --azul:#355789;
    --claro:#F2EBBF;
    --amarelo:#F3B562;
    --rosa:#F06060;
    --preto:#253659;
}
.dark-mode{
    --roxo:#F2EBBF;
    --azul:#253659;
    --claro:#56476B;
    --amarelo:#F06060;
    --rosa:#03A696;
    --preto:#F3B562;
}
body{
    margin: 0;
    padding-top: 100px;
    font-family: 'Playwrite DE Grund', sans-serif;
    background-color:var(--azul);
    box-sizing: border-box;
    color: var(--preto);
    
    
}

/* Firefox */
html {
  scrollbar-width: auto; /* largura padrão */
  scrollbar-color: #ed9595 #ffffff; /* cor do scroll e cor do fundo */
}

/* Chrome, Edge e Safari */
::-webkit-scrollbar {
  width: 16px; /* largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #ddd; /* fundo do trilho */
}

::-webkit-scrollbar-thumb {
  background: #444; /* cor da barrinha */
  border-radius: 0; /* deixa quadrado */
}

::-webkit-scrollbar-thumb:hover {
  background: #222; /* cor quando passa o mouse */
}


